{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "printWidth": 160,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": ["."],
  "wrapAttributes": "force-aligned",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "semi": true,
  "arrowParens": "avoid",
  "svelteStrictMode": true
}
