@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'caramellatte';
  default: true;
  --color-base-300: rgb(178, 161, 148);
  --color-base-content: rgb(75 68 63);
}

@import './variables.scss';

html {
  scrollbar-gutter: auto !important;
}

body {
  font-family: 'MS Sans-serif', sans-serif, Georgia;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

p {
  @apply py-1;
}

.toastify {
  box-shadow: none;
}

.alert-info {
  border-color: var(--fallback-in, oklch(var(--in) / 0.2));
  --tw-text-opacity: 1;
  color: var(--fallback-inc, oklch(var(--inc) / var(--tw-text-opacity)));
  --alert-bg: var(--fallback-in, oklch(var(--in) / 1));
  --alert-bg-mix: var(--fallback-b1, oklch(var(--b1) / 1));
}

.alert-success {
  border-color: var(--fallback-su, oklch(var(--su) / 0.2));
  --tw-text-opacity: 1;
  color: var(--fallback-suc, oklch(var(--suc) / var(--tw-text-opacity)));
  --alert-bg: var(--fallback-su, oklch(var(--su) / 1));
  --alert-bg-mix: var(--fallback-b1, oklch(var(--b1) / 1));
}

.alert-warning {
  border-color: var(--fallback-wa, oklch(var(--wa) / 0.2));
  --tw-text-opacity: 1;
  color: var(--fallback-wac, oklch(var(--wac) / var(--tw-text-opacity)));
  --alert-bg: var(--fallback-wa, oklch(var(--wa) / 1));
  --alert-bg-mix: var(--fallback-b1, oklch(var(--b1) / 1));
}

.alert-error {
  border-color: var(--fallback-er, oklch(var(--er) / 0.2));
  --tw-text-opacity: 1;
  --alert-bg: var(--fallback-er, oklch(var(--er) / 1));
  --alert-bg-mix: var(--fallback-b1, oklch(var(--b1) / 1));
  color: white;
}

@utility btn {
  @apply shadow-none;
}
