@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: mamicrafts --default;
}
@plugin "daisyui/theme" {
  name: 'mamicrafts';
  default: true;
  prefersdark: true;
  color-scheme: 'light';
  --color-base-100: #f7f5ef;
  --color-base-200: #ede9e2;
  --color-base-300: #d9d3c6;
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(0.542 0.032 57.8);
  --color-primary-content: #fff;
  --color-secondary: oklch(0.562 0.012 239.9);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #a37b59;
  --color-accent-content: #fff;
  --color-neutral: #594c44;
  --color-neutral-content: #fff;
  --color-info: #7da2b8;
  --color-info-content: #fff;
  --color-success: #85a37b;
  --color-success-content: #fff;
  --color-warning: #c4a15a;
  --color-warning-content: #fff;
  --color-error: #c2816d;
  --color-error-content: #fff;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

@import './variables.scss';

:root {
  --default-font-family: 'Quicksand', serif;
}

html {
  font-family: 'Quicksand', serif !important;
  scrollbar-gutter: auto !important;
  background-color: var(--root-bg, var(--color-base-100)) !important;
}

body {
  min-height: 100dvh;
  width: 100%;
  overflow: auto;
}

p {
  @apply py-1;
}

.toastify {
  box-shadow: none;
}

.alert-info {
  border-color: var(--fallback-in, oklch(var(--in) / 0.2));
  --tw-text-opacity: 1;
  color: var(--fallback-inc, oklch(var(--inc) / var(--tw-text-opacity)));
  --alert-bg: var(--fallback-in, oklch(var(--in) / 1));
  --alert-bg-mix: var(--fallback-b1, oklch(var(--b1) / 1));
}

.alert-success {
  border-color: var(--fallback-su, oklch(var(--su) / 0.2));
  --tw-text-opacity: 1;
  color: var(--fallback-suc, oklch(var(--suc) / var(--tw-text-opacity)));
  --alert-bg: var(--fallback-su, oklch(var(--su) / 1));
  --alert-bg-mix: var(--fallback-b1, oklch(var(--b1) / 1));
}

.alert-warning {
  border-color: var(--fallback-wa, oklch(var(--wa) / 0.2));
  --tw-text-opacity: 1;
  color: var(--fallback-wac, oklch(var(--wac) / var(--tw-text-opacity)));
  --alert-bg: var(--fallback-wa, oklch(var(--wa) / 1));
  --alert-bg-mix: var(--fallback-b1, oklch(var(--b1) / 1));
}

.alert-error {
  border-color: var(--fallback-er, oklch(var(--er) / 0.2));
  --tw-text-opacity: 1;
  --alert-bg: var(--fallback-er, oklch(var(--er) / 1));
  --alert-bg-mix: var(--fallback-b1, oklch(var(--b1) / 1));
  color: white;
}

@utility btn {
  @apply shadow-none;
}
